<body>
<div class="container" @fade>
    <div class="row">
       <div class="col-md-6">
           <div class="card">
               
<div class="text-center"><h1><mat-icon>home</mat-icon>Hello!</h1><h6>please login</h6></div>
    <mat-divider class="mx-5" style="color: white;">-----------------------</mat-divider> <br>

    <form [formGroup]="loginform" (ngSubmit)="login()">
                    
                                             <div class="mb-3">
                <label style="color:white"  for="exampleInputEmail1" class="form-label">EMAIL:</label>
                 <input type="text" formControlName="email"  class="form-control"  id="nameid" ngModel>
                                                <br>
         <span class="text-danger" *ngIf="loginform.controls['email'].touched && loginform.hasError('required','email')">*email id is required</span>                                     
                                                </div> 
                
                                           <div class="mb-3">
                  <label style="color:white" for="exampleInputPassword1" class="form-label">password:</label>
                  <input type="password"  formControlName="pwd"  class="form-control" id="pwdid" ngModel>
                                                 <br>
    <span class="text-danger" *ngIf="loginform.controls['pwd'].touched && loginform.hasError('required','pwd')">*password is required </span>                                     
                                                 </div> 
                                                

                                                  <div class="example-button-row">
                         <button mat-raised-button  [disabled]="!loginform.valid">login</button>               
                                              </div>
             <a style="color:white" routerLink="/signup">new user!?click here for signup</a>
                   
</form>
                    </div>
                </div>
            </div>
      </div>
    </body>
